body{
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}
html {
    background: white;
}

section.login {
    background: url("../css/fond1.jpg") no-repeat;
    width: 1100px;
    height: 500px;
    background-size: 1100px 500px;
    background-position: center;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    overflow: hidden;
}

.formulaire {
    background: white;
    box-sizing: border-box;
    width: 50%;
    padding: 40px;
    flex-direction: column;
    display: flex;
    gap: 20px;
}

.form_heading{
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

label{
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(100,100,100);
}

.input{
    width: 200px;
    border: none;
    border-bottom: 2px solid #333;
    padding: 10px 0px;
    outline: none;
}

input:focus{
    border-bottom: 2px solid #e0c445;
}

.button{
    margin-top: 20px;
    width: 150px;
    border: none;
    background: #333;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px;
    box-shadow: 2px 2px 0px #e0c445;
}

/*body {
    height: 100%;
    background-image: url("../css/fond1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
align-items: center;
}*/
